/env/*
env/
./env 

Data/trainHonda100k/*
Data/trainHonda100k

Data/valHonda100k
Data/valHonda100k/*

Data/train_honda.npz
Data/val_honda.npz

Data/train_waymo.npz
Data/val_waymo.npz

Data/labelsHonda100k_train.csv
Data/labelsHonda100k_val.csv

Data/.ipynb_checkpoints
Data/.ipynb_checkpoints/*

.DS_Store
.__pycache__
__pycache__
.__pycache__/*

runs/
runs/*

Data/trainWaymo/
Data/valWaymo/

Data/trainWaymo/*
Data/valWaymo/*

Data/labelsWaymo_train.csv
Data/labelsWaymo_val.csv

.ipynb_checkpoints/
.ipynb_checkpoints/*

Data/augmented_train_honda.npz
./Data/augmented_train_honda.npz